   ..
  =≙≙=
 _.OO._
/ \__/ \
 \_><_/
 |=%%=|      Build using {{ .Geany.GoVersion   }}
  \  /                on {{ .Geany.VcsTime     }}
   \ \     from revision {{ .Geany.VcsRevision }} {{ if eq .Geany.VcsModified "*" }} (modified) {{ end }}
   / /
   |/
   (o)
    \ \____.----(O)----.,.---.
     `-__  o \_______/ o | O |
         `\  O O O O O  / `-`
           `-=========-`
